<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over">

    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
        <a mat-list-item
           routerLink="./listado"
           (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>filter_list</mat-icon>
          <span>Listado de VTubers</span>
        </a>
        <a mat-list-item
           routerLink="./agregar"
           (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>add</mat-icon>
          <span>Añadir VTuber</span>
        </a>
        <a mat-list-item
           routerLink="./buscar"
           (click)="sidenav.toggle()">
           <mat-icon mat-list-icon>search</mat-icon>
          <span>Buscar VTuber</span>
        </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button class="logout-button">logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
