<main>
  <section>
    <h2>Buscador de Heroes</h2>
    <mat-divider></mat-divider>
  </section>
  <section fxLayout="column">
    <h3>Buscador</h3>
    <mat-form-field appearance="fill">
      <mat-label>Vtuber</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [(ngModel)]="termino"
             [matAutocomplete]="auto"
             (input)="buscando()">
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionSelected)="opcionSeleccionada( $event )">
        <mat-option *ngFor="let personaje of dosb"
                    [value]="personaje">
          {{personaje.vtuber.name.en}}
        </mat-option>
        <mat-option *ngIf="dosb.length === 0 && termino.trim().length > 0 "
                    value="">
          No se encontró nada con el término "{{ termino }}"
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </section>

  <div fxLayoutAlign="center"
       *ngIf="personajeSeleccionado">
    <!-- <pre>{{personajeSeleccionado | json}}</pre> -->
    <app-tarjeta-personaje [pers]="personajeSeleccionado" ></app-tarjeta-personaje>
  </div>

</main>
