/* You can add global styles to this file, and also import other style files */

::root {
  --primary: #c2185b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}


mat-card {
  margin-top: 20px;
}
